@model Osobni_telefonski_imenik.ViewModels.BrojeviViewModel

@{
    ViewBag.Title = "Broj";
}

<h2>Uređivanje</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm("Edit", "Brojevi"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Broj</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.BrojID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.BrojTipID, "Broj tip", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("BrojTipID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrojTipID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Broj, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Broj, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Broj, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OpisBroja, "Opis", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OpisBroja, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OpisBroja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Spremi" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
            <div class="col-lg-6">
                <img src="~/Content/Slike/brojevi.jpg" class="img-rounded" />
            </div>
        </div>
    </div>
@section scripts
{
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
